.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 40vh;
  min-width: 15rem;
}

.login-form input {
  margin-bottom: 1rem;
  font-size: 1rem;

  width: 100%;
  border: 0;
  appearance: none;
  background: #fff;
  border-bottom: 2px solid #9e9e9e;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  overflow: hidden;
  padding: 1rem 1rem;
  color: black;

  transition: border 300ms ease;
  z-index: 2;
}

.login-form input.error {
  border-bottom: 2px solid red;
}

.login-form input:focus {
  outline: none;
}

.login-form input::placeholder {
  color: #9e9e9e;
}

.login-form button {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  border: none;
  height: 3rem;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  font-weight: 500;
  font-size: 1rem;
  color: white;
  background-color: #1976d2;
  font-family: Arial, Helvetica, sans-serif;
}

.login-form button.disabled {
  background-color: #9e9e9e;
  cursor: auto;
}
